<%- include('partials/header2') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="far fa-grin-wink fa-6x"></i>
    <h1 class="display-3">You've Discovered Our Secrets! 😉</h1>
<<<<<<< HEAD
    <!-- program to display the date
                get local machine date time-->
    <% const date = new Date() %>
    <!-- get the date as a string -->
    <% const n = date.toDateString()%>
    <!--get the time as a string  -->
    <% const time =date.toLocaleTimeString()%> <%
    UserWithSecrets.forEach(function(user, dateTime){ %>

    <div class="row">
      <div class="col">
        <div class="card">
          <!-- <div class="card-header">Featured</div> -->
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text"><%= user.secret %></p>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          
        </div>
      </div>
    </div>
    <% }) %>

=======
>>>>>>> d90b325c059174dac118e513e8c54a1660124696
    <hr />

    <div class="container">
      <div class="row">
        <!-- get secrets from array of objects or collection(documents) on database -->
        <% UserWithSecrets.forEach(function(user){ %>
        <div class="col-lg-3">
          <div class="card">
            <!-- <div class="card-header">Featured</div> -->
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text"><%= user.secret %></p>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <div class="card-footer text-muted">
              <span><%= user.dateCreated %></span>
              <span><%= user.timeCreated %></span>
              <!-- <span>Time:<%= user.createdOn %></span> -->
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <br />
    <hr />

    <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a> -->
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit Your Secret</a
    >
  </div>
</div>

<!-- This adds the footer found in the partials -->
<%- include('partials/footer') %>
